<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Consulta por Aluno</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="container">
		<div class="card">
			<div class="card-header cardheader">
				<h2>Aluno Encontrado</h2>
			</div>
			<div class="card-body">
				<h4 class="h3">Nome Aluno:</h4>
				<p class="text-start"><%= alunos.nome %></p>
				<h4 class="h3">Data de nascimento:</h4>
				<p class="text-start"><%= alunos.datnasc %></p>
				<h4 class="h3">Curso escolhido:</h4>
				<p class="text-start"><%= alunos.curso %></p>
				<h4 class="h3">Email aluno:</h4>
				<p class="text-start"><%= alunos.email %></p>
				<h4 class="h3">Endereço aluno:</h4>
				<p class="text-start"><%= alunos.endereco %></p>
				<h4 class="h3">Periodo curso:</h4>
				<p class="text-start"><%= alunos.periodo %></p>
			</div>
			<div class="card-footer">
				<a href="/alunos"><button class="btn btn-outline-primary">Voltar aos alunos</button></a>
			</div>
		</div>
		
	</div>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>